.main {
  min-width: 150px;
  max-width: 300px;
  flex: 1 0 30%;
  display: grid;
  grid-template-rows: 3fr 0.5fr;
  background-color: var(--blue-l);
  padding: 1em;
  border-radius: 8px;
  box-shadow: 5px 5px rgba(128, 128, 128, 0.411);

  h4{
    color: var(--white);
  }

  img {
    align-self: center;
    margin: auto;
    width: 50%;
    height: 50%;
  }
}